.conteudo{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background{
    height: 85vh;
    position: absolute;
    left: 0;
    margin-top: 40px;
}
.info{
    width: 70vw;
    margin-right: 90px;
    margin-top: 40px;
    color: #ffffff;
}

.repositorio-find{
    color: #e7e7e7;
    font-size: 32px;
}

.repositorio{
    color: #6d6d6d;
}

.all-center{
    margin: auto;
    justify-content: center;
    justify-items: center;
    place-items: center;
    text-align: center;
}

input{
    border: none;
    border-radius: 50px;
    background: #12161b;
    min-width: 250px;
    width: 25vw;
    margin-right: 12px;
    font-size: 18px;
    padding: 13px 20px;
    color: white;
}

button{
    border-radius: 22px;
    border: none;
    margin-right: 12px;                       
    background: #2D333B;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
}

.perfil{
    display: flex; 
    margin: 40px 0;
}

.profile{
    width: 120px;
    height: 120px;
    border-radius: 300px;
    border: 2px solid #cfcfcf;
    margin-right: 20px;
}

.perfil h3{
    color: #cfcfcf;
    font-size: 24px;
    margin-top: 22px;
}

.perfil span{
    display: block;
    color: #999999;
    font-size: 16px;    
    margin: 0;
}

.perfil p{
    color: #999999;
    font-size: 12px;    
    margin: 15px 0 0 0;
}

.scroll-content{
    height: 55vh;
    overflow-y: auto;
    padding-right: 10px;
}

.toSearch{
    margin-top: 50px;
}

.flex{
    display: flex;
}

.flex-desktop{
    display: flex;
}

.adjust-static{
    margin-top: 30px;
    margin-left: 20px;
}

.bio{
    width: 270px;
}

.icon-search{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-bottom: -1px;
}

.btn{
    background-color: #2D333B;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background-color: #4e5966;
    transition: 0.3s all ease-in-out;
}

.container-stats{
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1600px) {
    .info{
        width: 90%;
        margin: auto;
        color: #ffffff;
    }

    .container-stats{
        display: grid;
        grid-column: 1;
        gap: 10px;
    }

    .scroll-content{
        height: 100%;
        overflow-y: auto;
        padding-right: 10px;
    }

    .flex-desktop{
        display: inline;
    }

    .background{
        display: none;
    }

    .perfil{
        display: inline; 
        margin: 0px 0;
    }
    .profile{
        width: 120px;
        height: 120px;
        border-radius: 300px;
        border: 2px solid #cfcfcf;
        margin: auto;
    }
    .bio{
        margin: auto;
        text-align: center;
        width: auto;
        background-color: rgb(63, 63, 63);
        padding: 10px 0px;
    }
    .repositorio-find{
        color: #e7e7e7;
        font-size: 32px;
        margin-top: 20px;
    }
    input{
        border: none;
        border-radius: 50px;
        background: #12161b;
        min-width: 250px;
        width: 50%;
        margin: 10px 0px;
        font-size: 18px;
        padding: 13px 20px;
        color: white;
    }
    
    button{
        border-radius: 22px;
        border: none;
        width: 50%;
        margin: 0px;
        margin-bottom: 10px;
        background: #2D333B;
        color: #fff;
        font-size: 18px;
        padding: 10px 20px;
    }
    
}